body {
  margin: 0;
  background: black;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.Load{
  padding-left: 500px;
}
.card-body{
  background: #1c1818;
}
.form-lable{
  color: white;
}
.card-header{
  background: #1c1818;
  color: white;
  font-size: 30px;
}